.dn {
    display: none;
}

@media (max-width: 1400px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
    .section-img {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width: 900px) {
    .section {
        padding: 50px 10px;
    }
    .section-img {
        padding-top: 358px;
    }
    .description--sunset,
    .description--monstera {
        margin-bottom: 40px;
    }
}

@media (max-width: 800px) {
    .btn {
        padding: 8px 20px;
        font-size: 14px;
        line-height: 1;
    }
    .more-btn {
        padding-left: 30px;
    }
    .more-btn:before {
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }
    .section-title {
        font-size: 34px;
        line-height: 1;
    }
    .section-subtitle {
        margin-bottom: 30px;
        font-size: 17px;
        line-height: 20px;
    }
    .section-subtitle--desc {
        margin-bottom: 20px;
    }
    .section-img {
        padding-top: 347px;
    }
}

@media (max-width: 576px) {
    .section {
        padding: 30px 10px;
    }
    .section-title {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 1;
    }
    .section-subtitle {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 16px;
    }
    .section-img {
        padding-top: 231px;
    }
}

@media (max-width: 480px) {
    .section-subtitle {
        margin-bottom: 12px;
    }
}
/* ----------HEADER--------- */

@media (max-width: 1400px) {
    .header {
        padding: 30px;
    }
}

@media (max-width: 900px) {
    .header {
        padding: 10px;
    }
    .header__list {
        gap: 14px;
    }
}

@media (max-width: 800px) {
    .header {
        padding: 10px;
    }
    .header__list {
        gap: 14px;
    }

    .header__item:first-child .header__link {
        font-size: 10px;
        line-height: 1;
    }
    .header__link {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .header {
        position: relative;
        padding: 20px 10px;
    }
    .header__wrapper {
        align-items: start;
    }
    .header__nav-wrapper {
        gap: 8px;
    }
    .header__list {
        position: absolute;
        top: 0;
        right: -100%;
        padding: 10px;
        background-color: #3b3b3b;
        flex-direction: column;
        align-items: baseline;
    }
    .burger {
        display: block;
    }
    .header__link {
        font-size: 14px;
    }
    .header__list--active {
        right: 0;
        z-index: 10;
    }
}

/* --------------HERO--------------- */
@media (max-width: 1200px) {
    .hero {
        padding-top: 380px;
    }
    .hero__description {
        margin-bottom: 50px;
    }
}

@media (max-width: 800px) {
    .hero {
        padding-top: 280px;
    }
    .title {
        font-size: 42px;
        line-height: 48px;
    }
    .hero__description {
        font-size: 12px;
    }
    .info-text {
        font-size: 10px;
        line-height: 1;
    }
}

@media (max-width: 800px) {
    .hero {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 576px) {
    .hero {
        padding-top: 160px;
    }
}

@media (max-width: 480px) {
    .info {
        margin-right: 0;
        justify-content: center;
        float: none;
    }
}

/* ---------WHAT------------ */
@media (max-width: 1400px) {
    .gallery {
        justify-content: space-between;
        gap: calc(100vw - 98vw) 0;
        padding: 0 30px;
    }
    .gallery__item {
        width: 49%;
        height: calc(100vw / 2);
    }
}

@media (max-width: 900px) {
    .gallery {
        padding: 0;
    }
}

@media (max-width: 800px) {
    .gallery {
        gap: 10px 0;
    }
    .gallery__item {
        width: 100%;
    }
    .gallery__description {
        line-height: 16px;
    }
}
@media (max-width: 480px) {
    .gallery__item {
        padding: 14px;
    }
    .gallery__description {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .gallery__item {
        height: 100vw;
    }
}

/* ----------TOOLS--------- */
@media (max-width: 1400px) {
    .tools__info,
    .tools__img {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (max-width: 900px) {
    .tools {
        padding: 50px 0;
    }
    /* .tools__info {
        padding-bottom: 50px;
    } */
}

@media (max-width: 800px) {
    .tools__wrapper {
        flex-wrap: wrap;
    }
    .tools__info,
    .tools__img {
        width: 100%;
    }
    .tools__info-wrapper {
        max-width: 100%;
    }
    .tools__img {
        height: calc(100vw / 2);
    }
}

@media (max-width: 600px) {
    .tools__info {
        padding: 39px 30px;
    }
}

@media (max-width: 600px) {
    .tools__info {
        padding-right: 14px;
        padding-left: 14px;
    }
}

@media (max-width: 400px) {
    .tools__info {
        min-height: 100vw;
    }
    .tools__img {
        height: 100vw;
    }
}

/* ---------CLIENTS---------- */
@media (max-width: 1400px) {
    .clients__list {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (max-width: 1024px) {
    .clients__list {
        flex-wrap: wrap;
    }
}
@media (max-width: 900px) {
    .clients__item {
        display: flex;
        align-items: center;
        width: 30%;
        height: 120px;
    }
}

@media (max-width: 600px) {
    .clients__list {
        flex-direction: column;
        gap: 20px;
    }
    .clients__item {
        width: 50%;
    }
}

/* 
576
768
992
1200
1400
*/
